# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# 벡터
item_vectors.js
preprocessed_vectors.js
user_vectors.js

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
env.example
hf_env/

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
out.zip
build
dist


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

.vscode

# python
__pycache__


# clickhouse
metadata/
data/
preprocessed_configs/
uuid
status
store/

# Back-recommendation-worker
item_vectors.json
preprocessed_vectors.json
user_vectors.json
